* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Top Navbar */
.top-navbar {
  background-color: #f76666;
  color: #fff;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
}

.top-nav-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.top-navbar .social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
}

.top-navbar .top-text {
  font-size: 14px;
}

.top-navbar .email {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

/* Center Navbar */
.center-navbar{
  background:#fff;
  padding:18px 0;
  box-shadow:0 2px 6px rgba(0,0,0,.1);
}

.center-nav-container{
  max-width:1200px;
  margin:auto;
  display:flex;
  align-items:center;
  gap:25px;
}

/* logo rotate */
.logo img{
  height:45px;
  transition:none;
}


/* search bar wide */
.search-bar{
  flex:1.2;
  display:flex;
}
.search-bar input{
  width:50%;
  padding:16px 20px;
  border:1px solid #ddd;
  border-radius:30px 0 0 30px;
}
.search-bar button{
  position: absolute;
  width:55px;
  height: 52px;
  border:none;
  background:#0f2537;
  color:#fff;
  border-radius: 50%;
}

.search-bar button i{
  font-size:20px;              /* normal size */
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

.search-bar button:hover i{
  font-size:22px;              /* hover par bara */             /* pink */
}

.search-bar button:hover {
  background: #f76666;      /* hover poore button par */
  color: #fff;              /* icon color change karna ho toh yaha */
}

/* outline icons */
.nav-icons{
  display:flex;
  gap:22px;
  font-size:22px;
  color:#0f2537;
}

/* contact button with icon */
.contact-btn{
  background:#0f2537;
  color:#fff;
  padding:16px 20px;
  border-radius:30px;
  font-weight:600;
  text-decoration:none;
  display:flex;
  align-items:center;
  gap:0;
}
.contact-btn i{
  display:none;   /* arrow icon hide */
}

 /* Hero Section */
.hero-img{
  position: relative;
}

.hero-img img{
  width: 100%;
  height: 350px;   /* yahan height control karo */
  object-fit: cover;
}


.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-text h1{
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text p{
  font-size: 18px;
}



/* Responsive */
@media (max-width: 768px) {
  .center-nav-container {
    flex-wrap: wrap;
  }
  .search-bar {
    order: 3;
    width: 100%;
    margin: 10px 0;
  }
  .nav-icons, .contact-btn {
    order: 2;
    margin: 10px 0;
  }
  .hamburger {
    display: block;
    order: 1;
  }
}
